doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title Virus Game
    link(href='css/style.css', rel='stylesheet')
    link(href='css/ionic.app.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    script(src='lib/ionic/js/ionic.bundle.js')
    script(src='cordova.js')
    script(src='js/app.js')
    script(src='js/asset.js')
    script(src='js/fighter.js')
    script(src='js/game.js')
    script(src='js/laser.js')
    script(src='js/virus.js')
    script(src='js/main_controller.js')
  body(ng-app='gp-virus-game', ng-controller='MainCtrl')
    .greeting(ng-show='menu')
      .row
        .col
          ion-header-bar.bar-stable(style='margin-bottom: 20px;')
            h1.title Virus Game
      .row
        .col
          button.button.button-block.button-balanced(ng-click='start()', style='margin-top: 50px;') Play!
    ion-pane(ng-show='startGame')
      ion-header-bar.bar-stable
        h1.title Virus Game
      ion-content
        canvas#canvas
    .row(ng-show='gameOver')
      .col
        h1 Game Over!
        button(ng-click='start()') Play Again!
