<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Virus Game</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
    <script src="js/asset.js"></script>
    <script src="js/fighter.js"></script>
    <script src="js/game.js"></script>
    <script src="js/laser.js"></script>
    <script src="js/virus.js"></script>
    <script src="js/main_controller.js"></script>
  </head>
  <body ng-app="gp-virus-game" ng-controller="MainCtrl">
    <div ng-show="menu" class="greeting">
      <div class="row">
        <div class="col">
          <button ng-click="start()" style="margin-top: 50px;" class="button button-block button-balanced">Play!</button>
        </div>
      </div>
    </div>
    <ion-pane ng-show="startGame">
      <ion-content>
        <canvas id="canvas"></canvas>
      </ion-content>
    </ion-pane>
    <div ng-show="gameOver" class="row">
      <div class="row">
        <div class="col">
          <div class="results">
            <h1>Game Over!</h1>
            <h2>{{result}}</h2>
            <h2>...you killed:</h2>
            <h1>{{kills}}</h1>
            <h2>viruses!</h2><br>
            <h3>Now go get your flu shot!</h3>
            <h3>And wash your hands!</h3>
          </div>
          <button ng-click="start()" style="margin-top: 50px;" class="button button-block button-balanced">Play Again!</button>
        </div>
      </div>
    </div>
  </body>
</html>